go 1.23.4

use (
	./chatting-app
	./database-access
	./example/hello
	./go-routine
	./greetings-tutorial
	./hello-world
	./resumable-upload
	./upload-client
	./url-shortener
	./web-service-gin
	./webcrawler
)
